.pagination-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
    .pagination-controls button:first-child {
        border-radius: 8px 0px 0px 8px;
        margin-left: 5px;
    }

    .pagination-controls button:last-child {
        border-radius: 0px 8px 8px 0px;
        margin-right: 5px;
    }

    .pagination-controls button {
        background-color: var(--background);
        color: var(--muted-foreground);
        border: 1px solid var(--chart-1);
        padding: 5px 10px;
    }

    .pagination-controls button.active {
        background-color: var(--accent);
        color: var(--accent-foreground);
        font-weight: bold;
    }

    .pagination-controls button:disabled {
        background-color: var(--muted);
        color: var(--muted-foreground);
    }

    .pagination-controls button:hover:enabled {
        background-color: var(--secondary);
        color: var(--secondary-foreground);
        border-color: var(--ring);
    }
